@model Event_Management_system.Models.Room

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        @if (TempData["CreateMessage"] != null)
        {
            <div class="alert alert-success">

                <strong>Success ! </strong>@TempData["CreateMessage"]
            </div>
        }
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hotel Information</h5>

                <form asp-action="Create">
                   
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
   
                                <label asp-for="Hotel_Id" class="control-label"></label>
                            
                                <select asp-for="Hotel_Id" class="form-control select2" asp-items="ViewBag.Hotel_Id"></select>

                        </div>
                     
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <label asp-for="FromDate" class="control-label"></label>
                            <input asp-for="FromDate" class="form-control" />
                            <span asp-validation-for="FromDate" class="text-danger"></span>

                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ToDate" class="control-label"></label>
                            <input asp-for="ToDate" class="form-control" />
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                        </div>
                                

                    </div>
                    <div class="row mt-3">

                    <div class="col-sm-6">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-10">
                            <a asp-action="Index" class="btn btn-outline-success  btn-sm"> Back to List</a>

                        </div>
                        <div class="col-sm-2">
                            <input type="submit" value="Add New Hotel" class="btn btn-outline-primary btn-sm" />

                        </div>
                    </div>


                    <div>
                    </div>

                </form><!-- End General Form Elements -->

            </div>
        </div>


    </section>

   
</main><!-- End #main -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }